*.o
hardware/tools/avr
TAGS
.#*
*.elf
*.lst
*.pyc
*.hex
*.out
*.swp
./build
*.d
doc/html
mididuino-dist
cscope.files
cscope.out
.DS_Store
workspace.xml
.midictrl.flags2
SendProgramChange
editor/mididuino-dist-4.3.2.tar.gz
editor/mididuino-dist-0018.tar.gz
virtualMidiTest
subdir.mk
AVR/objects.mk
AVR/sources.mk
AVR/makefile
Debug/objects.mk
Debug/sources.mk
Debug/makefile
*.mk
tools-universal-fixed.zip
new-flags.txt
OctatrackLiveSketch.cpp
DevelopmentFirmwares.cpp
